* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: lightblue;
}

.block {
  width: 150px;
  height: 150px;

  margin: 10px;
  border: 3px solid black;
  background-color: #fff;
}

.fill {
  width: 145px;
  height: 145px;
  cursor: pointer;

  background-color: blue;
}

.drag {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}
